.body-title{
	border-radius: 4px;
	border: solid 1px #ccc; 
	color: #fff;
	background-color: rgba(0,0,0,0.9);
}
.body-list{
	margin: auto;
	list-style: none;

	.body-list-item{
		font-size: 20px;
	}
}

.mask{
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align: center;
	display: none;

	&.active{
		display: block;
	}

	span{
		display: inline-block;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%, 0);
	}
}

button.btn{
	display: block;
	margin: 10px auto;
}

#mockData-con{
	text-align: left;
}